<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32010">
        <setting label="32011" type="text"   id="email" default=""/>
        <setting label="32012" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
    </category>
    <category label="32090">
        <setting label="32091" type="text"   id="cookiefile" default="special://profile/addon_data/plugin.video.dropout.tv/cookie-store.json"/>
        <setting label="32092" type="bool"   id="logtokens"  default="false"/>
        <!-- TODO: Add Clear Cache BTN -->
        <setting label="32099" type="bool"   id="debug"  default="false"/>
    </category>
</settings>